.tile {
  width: 100%;
  background-color: var(--light);
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

.tile:not(.not-winning-tile).unmarked:hover {
  background-color: var(--light-hover);
}

.tile .hover-mark {
  display: none;
  opacity: 0.5;
}

.tile.marked {
  cursor: default;
  background-color: rgb(236, 236, 236);
}

.tile.winning-tile {
  opacity: 1;
}
.tile.not-winning-tile {
  opacity: 0.25;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .tile {
    width: 5.5rem;
  }

  .tile.unmarked:hover .hover-mark {
    display: flex;
  }
}
